.accomplishment-timestamp {
  -fx-font-size: 75%;
  -fx-font-style: italic;
  -fx-text-fill: #ffffff;
}

.tag {
  -fx-font-style: italic;
  -fx-font-weight: bolder;
  -fx-fill: #333333;
}

.chart-highlighted-line {
  -fx-stroke-width: 3px;
}

.chart-dimmed {
  -fx-opacity: 20%;
}
